$img-width: 32px;
$img-padding: 4px;
$content-padding: $img-width + $img-padding - 2;

.card {
  font-family: sans-serif;
  font-size: 12px;
  border: 1px solid rgba(200,200,200,0.8);
  width: 240px;
  font-size: 14px;
  padding: 8px;
  margin: 4px;
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 4px;
    border-bottom: 1px solid lightgray;
    figure {
      margin: 0;
      display: flex;
      align-items: center;
      img {
        width: $img-width;
        border-radius: 50%;
        padding-right: $img-padding;
      }
    }
  }
}
.content {
  padding-left: $content-padding;
  padding-top: 5px;
  table {
    font-size: 12px;
    width: 100%;
    text-align: left;
    thead {
      color: gray;
      th {
        border-bottom: 1px solid lightgray;
      }
    }
  }
}
